---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
const pageTitle = "Talal Emran - Uses";
const pageDescription = "A list of hardware and software I use in my daily life as a developer and designer.";
---

<Layout title={pageTitle} description={pageDescription}>
    <Header/>
    <div>
    <main>
      <h1>Uses</h1>
      <p>Here is my all thing that I use in daily bases.</p>
      <h2>Hardware</h2>
      <ul>
        <li><strong>Laptop</strong>: Cyborg 15 A12UCX, HP Notebook 2000</li>
        <li><strong>Smartphone</strong>: Samsung Galaxy S20 FE</li>
      </ul>
      <h2>Software</h2>
      <ul>
        <li><strong>Operating System</strong>: openSUSE Templeweed, Android</li>
        <li><strong>Code Editor</strong>: Visual Studio Code</li>
        <li><strong>Design</strong>: GIMP, Inkscape, Canva, Photopea</li>
        <li><strong>Browser</strong>: Brave, Chromium</li>
        <li><strong>AI Tools</strong>: Gemini AI, Copilot</li>
      </ul>
      <h2>This Website</h2>
      <ul>
        <li><strong>Programing Languages</strong>: HTML, CSS, JavaScript</li>
        <li><strong>Framework</strong>: Astro js</li>
        <li><strong>Hosting</strong>: Netlify</li>
        <li><strong>Domain</strong>: Godaddy</li>
      </ul>
  </main>
</div>
<Footer/>
</Layout>
