---
const currentYear = new Date().getFullYear();
---
<svg class="footer-decoration" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#27548A" fill-opacity="1" d="M0,192L1440,64L1440,320L0,320Z"></path></svg>
<footer>
    <p>
        <a href = "/uses">Uses</a> | <a href = "https://mypersonalbookmarks.netlify.app/" target="_blank">Bookmarks</a>
    </p>
    <p>Website built with: <a href="https://astro.build/" target="_blank">Astro js</a>.</p>
    <p class="footer-icons">
    <a href="https://github.com/talalemran" aria-label="Go to my Github profile" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="https://codepen.io/talalemran" aria-label="Go to my Codepen profile" target="_blank"><i class="fa-brands fa-codepen"></i></a>
    <a href="https://x.com/talalemran" aria-label="Go to my X profile" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
    </p>
    <p>&copy; <a href="/">Talal Emran</a> , 2021 - {currentYear} All Rights Reserved.</p>
    <p><a href='https://ko-fi.com/S6S11JMDZT' target='_blank'><img src='/images/ko-fi.png' alt='Buy Me a Coffee at ko-fi.com' / width="200" height="auto" style="max-width: 200px;"></a></p>
</footer>